
/* Home Page CSS  */
.custom-btn{
    margin: 2%;
    background-color: rgb(33, 118, 214);
    min-width: 200px;
    color: white;
}

#create-btn > a, #join-btn > a {
    text-decoration: none;
    color: white;
}

/* Room Page CSS  */
video {
    width: 45%;
    /* height: 200px; */
    /* to invert video stream along vertical axis  */
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

#my-video {
    width: fit-content;
    background-color: rgb(187, 187, 187);
}

#username {
    font-size: large;
}

#videos-grid {
    display: flex;
    justify-content: space-evenly;
}

/* everything is by design  */
.video-div {
    background-color: rgba(0, 0, 0, 0.705);
    padding: 1%;
}
.chat-div {
    background-color: rgba(0, 0, 0, 0.705);
    padding: 1%;
}

/* Whiteboard Styling  */
.whiteboard {
    border: 2px solid black;
}

canvas {
    background-color: white;
}
  
.colors {
    position: fixed;
}

.color {
display: inline-block;
height: 48px;
width: 48px;
}

.color.black { background-color: black; }
.color.red { background-color: red; }
.color.green { background-color: green; }
.color.blue { background-color: blue; }
.color.yellow { background-color: yellow; }


/* Bottom Controls Bar CSS  */
.controls_bar {
    width: 100vw;
    position: fixed;
    bottom: 0;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    padding: 5px;
}

.controls_block {
    display: flex;
    justify-content: flex-start;
}

.controls_button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 10px;
    min-width: 80px;
    cursor: pointer;
}
.controls_button:hover {
    background-color: #343434;
    border-radius: 5px;
}

.controls_button i {
    font-size: 24px;
}

.leave_meeting {
    color: #EB534B;
}

.unmute-btn, .stop-btn {
    color: #CC3B33;
}

.options {
    height: auto;
    width: 20%;
    position: fixed;
    left: 1vw;
    bottom: 10vh;
}