
/* Home Page CSS  */
.custom-btn{
    margin: 2%;
    background-color: rgb(33, 118, 214);
    min-width: 200px;
    color: white;
}

#create-btn > a, #join-btn > a {
    text-decoration: none;
    color: white;
}

/* Room Page CSS  */
video {
    height: 200px;
    width: 400px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    
}

#my-video {
    width: fit-content;
    background-color: rgb(187, 187, 187);
}

#username {
    font-size: large;
}

#videos-grid {
    background-color: black;
}


.whiteboard {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
  }
  
  .colors {
    position: fixed;
  }
  
  .color {
    display: inline-block;
    height: 48px;
    width: 48px;
  }
  
  .color.black { background-color: black; }
  .color.red { background-color: red; }
  .color.green { background-color: green; }
  .color.blue { background-color: blue; }
  .color.yellow { background-color: yellow; }